@font-face {
  font-family: "AlmaraiExtraBold";
  src: url("/Style%20Library/Portal/fonts/Almarai-ExtraBold.eot");
  src: url("/Style%20Library/Portal/fonts/Almarai-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/Style%20Library/Portal/fonts/Almarai-ExtraBold.woff2") format("woff2"), url("/Style%20Library/Portal/fonts/Almarai-ExtraBold.woff") format("woff"), url("/Style%20Library/Portal/fonts/Almarai-ExtraBold.ttf") format("truetype"), url("/Style%20Library/Portal/fonts/Almarai-ExtraBold.svg#Almarai-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-variant: normal;
  text-transform: none;
}
@font-face {
  font-family: "AlmaraiBold";
  src: url("/Style%20Library/Portal/fonts/Almarai-Bold.eot");
  src: url("/Style%20Library/Portal/fonts/Almarai-Bold.eot?#iefix") format("embedded-opentype"), url("/Style%20Library/Portal/fonts/Almarai-Bold.woff2") format("woff2"), url("/Style%20Library/Portal/fonts/Almarai-Bold.woff") format("woff"), url("/Style%20Library/Portal/fonts/Almarai-Bold.ttf") format("truetype"), url("/Style%20Library/Portal/fonts/Almarai-Bold.svg#Almarai-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-variant: normal;
  text-transform: none;
}
@font-face {
  font-family: "AlmaraiLight";
  src: url("/Style%20Library/Portal/fonts/Almarai-Light.eot");
  src: url("/Style%20Library/Portal/fonts/Almarai-Light.eot?#iefix") format("embedded-opentype"), url("/Style%20Library/Portal/fonts/Almarai-Light.woff2") format("woff2"), url("/Style%20Library/Portal/fonts/Almarai-Light.woff") format("woff"), url("/Style%20Library/Portal/fonts/Almarai-Light.ttf") format("truetype"), url("/Style%20Library/Portal/fonts/Almarai-Light.svg#Almarai-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-variant: normal;
  text-transform: none;
}
@font-face {
  font-family: "AlmaraiRegular";
  src: url("/Style%20Library/Portal/fonts/Almarai-Regular.eot");
  src: url("/Style%20Library/Portal/fonts/Almarai-Regular.eot?#iefix") format("embedded-opentype"), url("/Style%20Library/Portal/fonts/Almarai-Regular.woff2") format("woff2"), url("/Style%20Library/Portal/fonts/Almarai-Regular.woff") format("woff"), url("/Style%20Library/Portal/fonts/Almarai-Regular.ttf") format("truetype"), url("/Style%20Library/Portal/fonts/Almarai-Regular.svg#Almarai-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-variant: normal;
  text-transform: none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    overflow: auto;
    overflow-x: hidden;
    margin: 0px !important;
    padding: 0px !important;
    font-family: "JF Flat";
    direction: rtl;
    min-width: 425px;
    color: #404040;
    font-size: 24px;
    height: 100%
}

html {
    height: 100%
}

.clr {
    clear: both;
    display: block
}

img {
    border: 0;
    vertical-align: middle
}

a {
    text-decoration: none;
    color: #404040
}

.main_div {
    min-height: 100%;
    padding: 20px 20px 50px;
    background-color: #f5f5f5;
}

.header {
    width: 100%;
    max-width: 1000px;
    padding: 5% 0 50px;
    margin: 0 auto;
    text-align: center;
}

.header_logo {
    width: 471px;
    max-width: 100%;
}

.t_menu_404 {
    color: #0080cb;
    height: 60px;
    text-align: left;
    font-size: 40px;
    padding: 10px 0 0 20px
}

.copyright {
    text-align: center;
    color: #404040;
    padding: 0 10px 20px 10px
}

.int_body_404_ar {
    padding: 40px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    ;
    text-align: right;
    float: right;
    width: 50%;
    font-family: 'JF Flat';
}

.int_body_404_en {
    padding: 40px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    text-align: left;
    float: right;
    width: 50%;
    font-family: 'JF Flat';
}

.econts {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.pnf {
    font-family: 'JF Flat';
    font-size: 35px;
    color: #007580;
}

.homelink {
    font-size: 16px;
    color: #404040;
    padding-top: 20px
}

    .homelink a:link, .homelink a:visited {
        font-size: 1.6rem !important;
        display: inline-block;
        overflow: hidden;
        border-color: #007580;
        background-color: #007580;
        color: #fff !important;
        height: 60px;
        padding-right: 40px;
        padding-left: 40px;
        border-radius: 3px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 52px;
        white-space: nowrap;
        cursor: pointer;
        margin: 20px 0;
        border: 1px solid;
        transition: all 0.5s ease-out
    }

    .homelink a:hover {
        border-color: #16274d !important;
        background-color: #fff !important;
        color: #16274d !important;
        transition: all 0.5s ease-out
    }

.logo img {
    width: 400px;
    max-width: 100%;
}

@media (max-width:1024px) {
    .main_div {
        background-size: auto 100%
    }
}

@media (max-width:900px) {
    .int_body_404_ar, .int_body_404_en {
        width: 100%;
        padding: 20px;
        float: none;
    }

    .econts * {
        text-align: center;
    }
}

