<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- SharePoint URLs -->
		<add key="RootSiteUrl" value="https://newportal.pnu.edu.sa/" />
		<add key="OnlyThisWebUrl" value="https://newportal.pnu.edu.sa/ar/" />

		<add key="UAT_RootSiteUrl"  value="https://newportal-uat.pnu.edu.sa" />
		<add key="PROD_RootSiteUrl" value="https://pnu.edu.sa"  />
		<add key="MasterPage_Filter" value="DGA_Internal.master,DGA_ASide.master" />
		<add key="PageLayout_Filter" value="DGANewBlankWebPartPage.aspx,CertificatesHomePage.aspx" />
		<add key="ExportFolder"      value="\\PMCRAINHAWBS03\ExportFolder" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>